*.iml
.gradle
.kotlin
build/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/kotlinc.xml
.DS_Store
captures
.externalNativeBuild
.cxx
node_modules
*.apk
